body{
margin:0;
font-family:Arial;
background:#111;
color:white;
}

header{
background:url("https://images.unsplash.com/photo-1504674900247-0877df9cc836") center/cover;
height:80vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

header h1{
font-size:50px;
}

.btn{
background:red;
color:white;
padding:15px 30px;
text-decoration:none;
border-radius:30px;
margin-top:20px;
}

section{
padding:60px;
text-align:center;
}

.cards{
display:flex;
gap:20px;
justify-content:center;
flex-wrap:wrap;
}

.card{
background:#222;
padding:15px;
border-radius:10px;
width:220px;
}

.card img{
width:100%;
border-radius:10px;
}

footer{
background:black;
text-align:center;
padding:20px;
}